<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Notes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body >
    <%- include('includes/navbar.ejs')%>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 col-10 offset-1  mt-3">
            <h2>Add new note</h2>
            <form method="POST" action="/notes">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="title" placeholder="Enter a title" class="form-control"><br>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Content</label>
                    <input type="text" name="content" placeholder="Enter a content" class="form-control"><br>
                </div>
                <button class="btn btn-danger">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>